.DS_Store
.idea
*.log
tmp/

build/*
!build/build.ninja
!build/wueHans
build/wueHans/*
!build/wueHans/dummy.txt
!build/Desktop
build/Desktop/*
!build/Desktop/dummy.txt
out/build/x64-Debug/_deps/glm-src/
out/build/x64-Debug/_deps/halib-src/
out/build/x64-Debug/_deps/hall-src/
